@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css");

.character-card {
  border: 1px solid black;
  width: 20vw;
  height: 28vh;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.perk-card{
  margin: 20px;
  border: 1px solid black;
  width: 13vw;
  height: 25vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}



.navbar{
  display: flex;
  justify-content: space-around;
  align-content: center;
  background-color: black;
  padding: 2vh 80vw 2vh 0px;
}

.navbar a {
  text-decoration: none;
  color: white;
}

.character-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.perk-list{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 50px;
}

.center{
  display: flex;
  flex-direction: column;
  align-items: center;
}

#home{
  width: 100%;
  height: 100%;
  background-color: black;
  display: flex;
  justify-content: flex-end;
}
#home .img-left{
  width: 20%;
  height: 100%;
}

#home-page{
  width: 80%;
  background-color: white;
  display: flex;
  align-items: center;
  flex-direction: column;
}

#home-page .about {
  display: flex;
  flex-direction: column;
  height: 50vh;
  width: 50vw;
  align-items: center;
  /* background-color: brown; */
  margin: 20px;
}
#home-page .about img{
  width: 40vw;
  height: 100%;

}





.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  font-family: Arial, Helvetica, sans-serif;
  background: rgba(0,0,0,0.8);
  z-index: 99999;
  opacity:0;
  -webkit-transition: opacity 400ms ease-in;
  -moz-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;
  pointer-events: none;
}

.modal:target {
  opacity: 1;
  pointer-events: auto;
}

.modal > div {
  width: 400px;
  position: relative;
  margin: 10% auto;
  padding: 15px 20px;
  background: #fff;
}