@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css");

body{
  font-family: 'Crete Round', serif;
  font-size: 20px;
  /* color: white; */
}

a{
  text-decoration: none;
}

h1{
  font-size: 40px;
}

h2{
  font-size: 30px;
}

h3 {
  font-size: 20px;
}

hr{
  width: 50vw;
  border: 2px solid black ;
}

.character-card {
  margin: 35px;
  width: 15vw;
  height: 30vh;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: radial-gradient(rgba(165, 49, 49, 0.8), rgba(5, 5, 5, 1)); 
  /* background-image: radial-gradient(rgba(83, 168, 97, 0.781), rgba(5, 5, 5, 1));  */

}

.character-card img{
  margin: 20px
}

.perk-card{ 
  width: 150px;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  transform: rotate(-45deg);
  color: white;
  text-align: center;
}

.perk-format{
  margin: 60px;
  height: 250px;
  width: 250px;
  transform: rotate(45deg);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px 5%;
  background-image: radial-gradient(rgb(100, 84, 116), rgb(5, 5, 5)); 
}

.navbar{
  display: flex;
  justify-content: space-around;
  align-content: center;
  background-color: black;
  padding: 2vh 80vw 2vh 0px;
}

.navbar a {
  text-decoration: none;
  color: white;
}

.character-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.perk-list{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 50px;
}

.center{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page{
  width: 100%;
  height: 100%;
  display: flex;
  background-image: url('./images/teste4.jpg');
}

.img-left{
  margin-top: 100px;
  width: 20%;
  height: 100%;
}

.home-page{
  width: 60%;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.281) ;
  
}

.background-color{
  background-image: radial-gradient(rgba(91, 91, 92, 1), rgb(5, 5, 5, 1));

}

.about {
  display: flex;
  flex-direction: column;
  height: 75vh;
  width: 55vw;
  align-items: center;
  margin: 20px;
}

.about img{
  width: 40vw;
  margin: 20px;
}

.about p{
  width: 30vw;
  font-size: 25px;
  margin: 20px 0px;
  text-align: center;
}

.about h1{
  margin-bottom: 50px;
}

.objective-box{
  border: 1px solid black;
  width: 25vw;
  height: 38vh;
  margin: 20px;
  padding: 30px;
  display: flex;
  justify-content: space-around;
  text-align: center;
}

.objective-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 55vw; 
  margin-bottom: 100px; 
}

.objective-title{
  display: flex;
  justify-content: space-around;
  margin: 30px; 
}

.character-story{
  margin: 20px;
  border: 1px solid black;
  border-radius: 30px ;
  padding: 20px;
}

.modal-perk{
  width: 80vw;
  height: 50vh;
}

.section-home {
  display: flex;
  width: 55vw;
  height: 50vh;
  align-items: center;
  justify-content: space-around;
  margin: 20px;
}

.section-home p{
  width: 30vw;
  font-size: 25px;
  margin: 50px;
  text-align: center;
}

.section-home img {
  width: 18vw;
}

.section-title{
  margin-top: 40px
}

.container-rank{
  display: flex;
}

.section-rank{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 10vw;
}

.section-rank img{
  width: 8vw;
}

.section-container-rank{
  display: flex;
  width: 55vw;
  height: 35vh;
  align-items: center;
  justify-content: space-around;
  margin: 0 0px 100px 0px;
}

.section-container-rank p{
  width: 30vw;
  font-size: 25px;
  margin: 50px;
  text-align: center;
}